@font-face {
  font-family: 'chevron';
  src: url('https://cache.promotions.betfair.com//media/english_uk/fonts/chevron.eot');
  src: url('https://cache.promotions.betfair.com//media/english_uk/fonts/chevron.eot?#iefix') format('embedded-opentype'),
       url('https://cache.promotions.betfair.com//media/english_uk/fonts/chevron.woff') format('woff'),
       url('https://cache.promotions.betfair.com//media/english_uk/fonts/chevron.ttf') format('truetype'),
       url('https://cache.promotions.betfair.com//media/english_uk/fonts/chevron.svg#chevron') format('svg');
  font-weight: normal;
  font-style: normal;
}

%link {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}
@media #{$small-only}{
    .hide-for-small {
        display: none;
    }
}

%button-yellow {
    background-image: linear-gradient(rgba(255, 196, 0, 1) 0%, rgba(255, 150, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFC400', endColorstr='#FF9600');
        color: #1e1e1e;
}
%button-yellow:hover {
    background-image: linear-gradient(rgba(255, 212, 0, 1) 0%, rgba(237, 123, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFD400', endColorstr='#ED7B00');
}
%button-grey {
    background-image: linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(196, 196, 196, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FAFAFA', endColorstr='#C4C4C4');
        color: #1e1e1e;
}
%button-grey:hover {
    background-image: linear-gradient(rgba(240, 240, 240, 1) 0%, rgba(180, 181, 176, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F0F0F0', endColorstr='#B4B5B0');
}

.button {
    font-family: $button-font-family;
    font-size: 17px;
    font-weight: bold;
    line-height: em(17, 24);
    position: relative;
    display: inline-block;
    height: em(17, 25);
    padding: 0 em(17, 25) 0 em(17, 8);
    text-decoration: none;
    transition: background-color .3s;
    &:after {
        content: "\3e";
        font-family: 'chevron';
        font-size: 0.7em;
        display: inline-block;
        position: absolute;
        right: 0.6em;
        font-weight: normal;
    }

    &.yellow {
        @extend %button-yellow;
    }
    &.grey {
        @extend %button-grey;
    }
}
