@font-face {
    font-family: 'BlockProSmooth';
    src: url('/media/english_uk/fonts/block-en.eot');
    src: url('/media/english_uk/fonts/block-en.eot?#iefix') format('embedded-opentype'), url('/media/english_uk/fonts/block-en.woff') format('woff'), url('/media/english_uk/fonts/block-en.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'InformaPro';
    src: url('/media/english_uk/fonts/informapromedium-en.eot');
    src: url('/media/english_uk/fonts/informapromedium-en.eot?#iefix') format('embedded-opentype'), url('/media/english_uk/fonts/informapromedium-en.woff') format('woff'), url('/media/english_uk/fonts/informapromedium-en.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InformaPro';
    src: url('/media/english_uk/fonts/informaprobold-en.eot');
    src: url('/media/english_uk/fonts/informaprobold-en.eot?#iefix') format('embedded-opentype'), url('/media/english_uk/fonts/informaprobold-en.woff') format('woff'), url('/media/english_uk/fonts/informaprobold-en.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
