


@font-face {
    font-family: 'itcavantgardestd-bold';
    src: url('fonts/itcavantgardestd-bold/itcavantgardestd-bold-webfont.eot');
    src: url('fonts/itcavantgardestd-bold/itcavantgardestd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/itcavantgardestd-bold/itcavantgardestd-bold-webfont.woff') format('woff'),
         url('fonts/itcavantgardestd-bold/itcavantgardestd-bold-webfont.ttf') format('truetype'),
         url('fonts/itcavantgardestd-bold/itcavantgardestd-bold-webfont.svg#itcavantgardestd-bk') format('svg');
    font-weight: normal;
    font-style: normal;

}


