.main-header {
    margin-bottom: -36px;
    height: 36px;
    width: 100%;
	position: relative;
    z-index: 11;
        font-size: rem-calc(18);
        line-height: rem-calc(48px);
    // safari 5, ios 4
    background-image: linear-gradient(change-color($header-primary-color, $alpha: .9), change-color($header-primary-color-dark, $alpha: .9));
    // other browser
    background-image: linear-gradient(90deg, change-color($header-primary-color, $alpha: .9), change-color($header-primary-color-dark, $alpha: .9));

    @media #{$screen} and(max-width:639px) {
        height: 38px;
    }
    
    > div {
        height: 100%;
        > div {
            height: 100%;
        }
    }

    .logo-wrapper {
        width: 50%;
        float: left;
        
        @media #{$screen} and(min-width: 460px) {
            width: 30%;
        }
        @media #{$screen} and(min-width: 768px) {
            width: 20%;
        }
    }

    .logo {
        @include hide-text;
        display: block;
        max-width: 100%;
        height: 100%;
        background: no-repeat  left 46%;
        background-size: 100%;
        
        @media #{$screen} and(max-width:639px) {
            height: rem-calc(38px);
        }

        &.arcade-carbon      {background-image: $logo-arcade-carbon;}
        &.arcade-white       {background-image: $logo-arcade-white;}
        &.casino-carbon      {background-image: $logo-casino-carbon;}
        &.casino-white       {background-image: $logo-casino-white;}
        &.bingo-carbon       {background-image: $logo-bingo-carbon;}
        &.bingo-white        {background-image: $logo-bingo-white;}
        &.livecasino-carbon  {background-image: $logo-livecasino-carbon;}
        &.livecasino-white   {background-image: $logo-livecasino-white;}
        &.poker-carbon       {background-image: $logo-poker-carbon;}
        &.poker-white        {background-image: $logo-poker-white;}
    }
    .text {
        font-size: 12px;
        margin: 0;
        margin-right: 74px;
        text-align: right;
        padding-right: 20px;
        font-family: 'itcavantgardestd-bk';
        font-family: 'itcavantgardestd-bk';
        color: #ffb80c;
        line-height: 43px;
        background: image-url('head-text.png') no-repeat top right;
        height: 100%;
        background-size: 100% 100%;
        
        @media #{$screen} and(max-width: 459px) {
            position: absolute;
            top: 38px;
            height: 38px;
            right: 0px;
            margin: 0;
            width: 240px;
        }
    }

    .login-wrapper {
        width: 30%;
        float: right;
        
        @media #{$screen} and(min-width: 460px) {
            width: 62%;
        }
        @media #{$screen} and(min-width: 768px) {
            width: 36%;
        }
    }

    .login {
        padding-right: 10px;
        font-family: 'itcavantgardestd-bk';
        line-height: 41px;
        float: right;
        @extend %link;
            color: #1e1e1e;
        @media #{$screen} and(max-width:639px) {
            line-height: rem-calc(38px);
        }
    }
}

// menu
.main-menu {
    position: absolute;
    top: 76px;
    background: #000;
    width: 100%;
    
    @media #{$screen} and(min-width: 460px) {
        top: 36px;
    }
    @media #{$screen} and(max-width: 767px) {
        height: 40px !important;
    }
    @media #{$screen} and(min-width: 768px) {
        padding-left: 15px;
        background: none;
        float: left;
        width: 44%;
        position: relative;
        top: 0px;
        height: auto;
    }
    @media #{$screen} and(min-width: 860px) {
        padding-left: 48px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        li {
            float: left;
            margin: 0;
            padding: 0;
            height: 100%;
            a {
                position: relative;
                font-family: 'itcavantgardestd-bold';
                text-decoration: none;
                color: #fafafa;
                font-size: 14px;
                display: block;
                height: 100%;
                line-height: 42px;
                padding: 0 20px;
                margin: 0 1px;
                
                @media #{$screen} and(min-width: 768px) {
                    color: #1e1e1e;
                    &:hover {
                        color: #000;
                    }
                }
            
                &:hover {
                    color: #fff;
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 0px;
                    bottom: 10px;
                    border: 6px solid;
                    border-color: transparent #fafafa #fafafa transparent;
                    
                    @media #{$screen} and(min-width: 768px) {
                        border-color: transparent #000 #000 transparent;
                    }
                }
            }
        }
    }
}

// logo Android 2.3, ie-8
&.no-svg {
    .main-header {
        .logo {
            &.arcade-carbon      {background-image: $logo-arcade-carbon-png;}
            &.arcade-white       {background-image: $logo-arcade-white-png;}
            &.casino-carbon      {background-image: $logo-casino-carbon-png;}
            &.casino-white       {background-image: $logo-casino-white-png;}
            &.bingo-carbon       {background-image: $logo-bingo-carbon-png;}
            &.bingo-white        {background-image: $logo-bingo-white-png;}
            &.livecasino-carbon  {background-image: $logo-livecasino-carbon-png;}
            &.livecasino-white   {background-image: $logo-livecasino-white-png;}
            &.poker-carbon       {background-image: $logo-poker-carbon-png;}
            &.poker-white        {background-image: $logo-poker-white-png;}
        }
    }
}
