<!--TEMPLATE START-->
{{>header}}
<div class="topStep">
    {{>video}}
    <div class="prevent-video-hover">
    <div class="row">
        {{>contentCTA}}
    </div>
</div>
</div>
<!--content start-->
<div class="content-holder">
    {{>contentSteps}}
    <div class="row">
        {{>bottomCTA}}
    </div>
    <div class="bottomImage">
        <div class="row">
            <img src="img/bottom-img.png" alt="">
        </div>
    </div>
    <div class="bg"></div>
</div>
<!--content end-->
{{>footer}}
<!--TEMPLATE END-->
