{{#content.cta}}
<div class="main-cta">
    <h1 class="heading">{{{title}}}</h1>
    {{#text}}<p class="text hide-for-small">{{{.}}}</p>{{/text}}
    <a class="button {{button.color}}" href="{{{button.url}}}" {{#button.target}}target="{{.}}"{{/button.target}}>{{button.text}}</a>
    <a class="terms" href="{{{terms.url}}}" {{#terms.target}}target="{{.}}"{{/terms.target}}>{{terms.text}}</a>
    
    <span class="span1"></span>
    <span class="span2"></span>
    <span class="span3"></span>
    <span class="span4"></span>
    <span class="span5"></span>
    <span class="span6"></span>
</div>
{{/content.cta}}
