<!--header start-->
{{#header}}
<header class="main-header">
    <div class="row">
        <div class="logo-wrapper">
            <a href="{{{logologinUrl}}}" class="logo {{logoImgCode}}">{{logoText}}</a>
        </div>
        <div class="main-menu">
            <ul>
                <li><a href="#Roulette">Roulette</a></li>
                <li><a href="#Blackjack">Blackjack</a></li>
                <li><a href="#Slots">Slots</a></li>
            </ul>
        </div>
        <div class="login-wrapper">
            <a class="login" href="{{{loginUrl}}}">{{loginText}}</a>
            <p class="text">LIMITED TIME OFFER</p>
        </div>
    </div>
</header>
{{/header}}
<!--header end-->
